*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 11, 11);
}
nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 25px;
} 
#logo{
    width: 150px;
}
#options{
    gap: 50px;

}
#options a{
    text-decoration: none;
    color: white;
}
#options a:hover{
    transition: all 0.4s;
    color: #ed4e53;
}
#bag {
    width: 30px;
}

